<% content_for :page_title, "IT-Books Index" %>

<section class="section">
<div class="container">
<% @books.list_new['books'].each do |book| %>
    <div class="card mb-4">
        <div class="class-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4"><%= link_to book['title'], book['url'] %></p>
                </div>
            </div>
            <div class="content">
                <%= book['subtitle'] %>
            </div>
            <div class="content">
                <%= book['isbn13'] %>
            </div>
            <% if user_signed_in? %>
                <%= link_to "Create a post!", new_post_path, class:"button" %>
            <% end %>
        </div>
        <% end %>
</div>
</section>